body{
    font-family: 'Montserrat', sans-serif;
}

.content-container{
    padding-top: 75px;
    padding-bottom: 75px;
}

/*Alert*/

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert{
    margin-bottom: 0;
    color: black;
    background-color: #fffcc9;
    border-radius: 0;
    border-color: transparent;
}

.site-wide-alert > strong{
    font-size: 20px;
    text-decoration: underline;
}

.site-wide-alert a{
    color: darkred;
}

/*Callout*/

.callout-container{
    height: 100vh;
    background: url("../media/whiskey1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Navbar*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);

}
.navbar .navbar-toggler{
    border: 0;
}

.navbar .navbar-brand{
    color: #ffc107;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

#navbarNavDropdown .nav-link:hover,
#navbarNavDropdown .nav-link:focus,
#navbarNavDropdown .nav-link:active,
#navbarNavDropdown .nav-link:active:focus{
       color: #288cf7;
}

#navbarNavDropdown .dropdown-item:hover,
#navbarNavDropdown .dropdown-item:focus,
#navbarNavDropdown .dropdown-item:active,
#navbarNavDropdown .dropdown-item:active:focus{
       color: #288cf7;
}

.nav-signup{
    justify-content:right;
    text-align:right;
    justify-content:right;
}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.jumbotron h1 {
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
}

.jumbotron small{
    font-size: 100%;
    font-style: italic;
    color: white;
    margin: 25px 25px;
}

.jumbotron .lead{
    color: white;
    margin: 25px 0;
}

.jumbotron .highlight{
    background-color: #ffc107;
}

.jumbotron p button{
        margin: 0;
    }

/*Page Headers*/

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}


/*Block dividers*/

.block-divider{
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider-blue{
    background-color: #288cf7;
}

.block-divider-oranger{
    background-color: #ffc107;
}


/*buttons*/

.btn-cta{
    margin:25px
}

.btn-blue{
    background-color: #288cf7;
    font-weight: bold;
    width: 160px;
    border-radius: 25px;
    color:black;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:active:focus {
    background-color: #ffc107;
    color: black;
}

.btn-attention:hover,
.btn-attention:active,
.btn-attention:focus,
.btn-attention:active:focus{
     width: 170px;
     height: 60px;
     text-transform: uppercase;
}

/*Quote*/

.col-12 .media-body{
    text-align: center;  
}

.col-12 .media{
    justify-content: center;
}

.blockquote-footer{
    color: #288cf7;
}

.quotes-container{
    background-color: #ffc107;
}

/*Features*/

.features-container{
  background: url("../media/whiskey2.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.features{
    text-align: center;
    color:white;
    margin-bottom: 40px;
}

.feature i{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    color: #ffc107;
}

.features h2{
    color: #288cf7;
}

/*Favourites*/

.favourites thead th{
    border-bottom: 2px solid #343a40;
    border-top: 2px solid #343a40;
}

.favourites-container{
    background-color: rgba(100, 170, 245, 0.25);
    
}
table caption{
    color: #004998;
}
@media(min-width:576px){
    h1.jumbotron-header{
        font-size: 2.5rem;
        line-height: 1.2
    }

    .jumbotron p button{
        margin: 25px;
    }

    .jumbotron{
        margin-bottom: 32px;
     
    }
    
    p.text-muted{
        margin: 25px; 
    }
}